# Applied Data Lab

# Assignment 02: Pandas

In [1]:
import pandas as pd

## Setting Up the Address
In this cell, a path variable is set with the value of the current directory where the notebook is open. This is done to easily upload the dataset file from this location.

In [ ]:
# Run this cell
import os
PATH = os.getcwd() + '/'
PATH

**ONLY FOR GOOGLE COLAB USERS**

For those who are using **Google Colab**, uncomment and run the cell below.

**Note**: You have to repalce value of variable `YOUR_PATH_TO_DATASET_DIRECTORY` with the path where your dataset is placed in the Google Drive folder.

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')
# YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab/phase_2"
# PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
# PATH

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab_Assignments/phase_2"
PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
PATH

Mounted at /content/drive/

'/content/drive/MyDrive/work/Applied_Data_Lab_Assignments/phase_2/'

### Exercise 1: Read Data

Import the `Corporate_Financial_Metrics_Dataset.csv` in variable `data`

In [ ]:
# Do Exercise in this cell
#
#
#

In [3]:
#HINT
data = pd.read_csv(PATH+'Corporate_Financial_Metrics_Dataset.csv')
data.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

## Selecting Columns in Pandas

You can select columns in Pandas using multiple methods. The primary methods are:

1. Using **Double Square Brackets `[[]]`** to return a DataFrame with one or more columns:
   
   ```python
   # Selecting a single column, returns a DataFrame
   df[['Column1']]
   
   # Selecting multiple columns, returns a DataFrame
   df[['Column1', 'Column2']]
   ```

2. Using **Single Square Brackets `[]`** with the column name(s) inside, which returns a Series if selecting a single column and a DataFrame if selecting multiple columns:
   
   ```python
   # Selecting a single column, returns a Series
   df['Column1']
   
   # Selecting multiple columns, returns a DataFrame
   df[['Column1', 'Column2']]
   ```

3. Using **`.loc[]`** with row and column selectors to return specific rows and columns as a DataFrame:
   
   ```python
   # Using .loc[] to select specific rows and columns
   df.loc[:, 'Column1']
   df.loc[:, ['Column1', 'Column2']]
   ```

Remember that the first two methods, using single and double square brackets, are most commonly used for column selection.

### Exercise 2: Selecting `sector` Column

select single sector column and display it
using any method .loc or simple []

In [ ]:
# Do Exercise in this cell
#
#
#

In [9]:
data["sector"]

0                   Retailing
1                      Energy
2                      Energy
3                      Energy
4      Motor Vehicles & Parts
                ...
495               Health Care
496                Financials
497        Food & Drug Stores
498         Business Services
499                 Retailing
Name: sector, Length: 500, dtype: object

### Exercise 3: Calculate Frequency of Sector Values

**Objective:** Calculate and display the frequency of sector values in a DataFrame.

**Instructions:**


1. Calculate the frequency of sector values without using Pandas. Use the provided code to create a dictionary (`freq`) and loop through the 'Sector' column to count the frequency of each sector value.

   ```python
   freq = {}
   for sector in df.loc[:,'column']:
       if sector not in freq:
           freq[sector] = 0
       freq[sector] += 1

   print(freq)
   ```

2. Calculate the frequency of sector values using Pandas' `value_counts()` method and display the result in a pandas Series.

Hint `df.value_counts()` or `series.value_counts()`


3. Print the frequency of sector values calculated using both methods. Compare the results.

In [ ]:
# Do Exercise in this cell
#
#
#

In [16]:
data['sector'].value_counts()

Financials                       0.236
Energy                           0.160
Technology                       0.088
Motor Vehicles & Parts           0.068
Wholesalers                      0.056
Health Care                      0.054
Food & Drug Stores               0.040
Transportation                   0.038
Telecommunications               0.036
Retailing                        0.034
Food, Beverages & Tobacco        0.032
Materials                        0.032
Industrials                      0.030
Aerospace & Defense              0.028
Engineering & Construction       0.026
Chemicals                        0.014
Household Products               0.006
Media                            0.006
Hotels, Restaurants & Leisure    0.006
Business Services                0.006
Apparel                          0.004
Name: sector, dtype: float64

### Exercise 4: Normalize Frequency result

apply value_counts method on data column sector then save it a varaible called sector_freq

then divide sector_freq by len(data)

sector_freq / len(data)
and print this result

In [ ]:
# Do Exercise in this cell
#
#
#

In [23]:
data['sector'].value_counts() / len(data)

Financials                       0.236
Energy                           0.160
Technology                       0.088
Motor Vehicles & Parts           0.068
Wholesalers                      0.056
Health Care                      0.054
Food & Drug Stores               0.040
Transportation                   0.038
Telecommunications               0.036
Retailing                        0.034
Food, Beverages & Tobacco        0.032
Materials                        0.032
Industrials                      0.030
Aerospace & Defense              0.028
Engineering & Construction       0.026
Chemicals                        0.014
Household Products               0.006
Media                            0.006
Hotels, Restaurants & Leisure    0.006
Business Services                0.006
Apparel                          0.004
Name: sector, dtype: float64

### Exercise 5: Normalize Frequency result using normalize aguement

apply value_counts method on data column sector then pass agurment normalize=True

value_counts(normalize=True)

will get the same resutl as in exercise 4

`shape`: This property returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns. (rows, columns)

`dtypes`: This property returns a Series with the data types of each column in the DataFrame. It's useful for checking the data types of your columns.

### Exercise 7:

**Objective:** Access and use the `shape` and `dtypes` properties of a DataFrame.

**Instructions:** (similar to columns)

1. Access the `shape` property of the `data` DataFrame and store the result in a variable called `data_shape`. Print the values of the number of rows and number of columns.

2. Access the `dtypes` property of the `data` DataFrame and store the result in a variable called `data_data_types`. Print the data types of each column in the DataFrame.

In [ ]:
# Do Exercise in this cell
#
#
#

## Dealing with Rows and Columns

In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.


- **Single Attribute Name (e.g., `data['column_name']`)**: This returns a Series, which is a one-dimensional labeled array, representing a single column of data.

- **List of Attribute Names (e.g., `data[['column1', 'column2']]`)**: This returns a DataFrame, which is a two-dimensional labeled data structure, representing multiple columns of data.

In [ ]:
# Run this cell
data["rank"] # Series

In [ ]:
# Run this cell
data[["rank"]] # DataFrame

In [ ]:
# Run this cell
data[["rank", "revenues"]]

### Exercise 8: Selecting Columns

**Objective:** Extract specific columns from the dataset as a DataFrame.

**Instructions:**

1. Use the dataset `data`.

2. Extract the following columns as a DataFrame:
   - 'company'
   - 'revenues'
   - 'profits'
   - 'country'

3. Store the extracted columns in a new DataFrame(variable of any name).

4. Print the new DataFrame(variable) to display the selected columns. Using `print` or `display` function

In [ ]:
# Do Exercise in this cell
#
#
#

In Pandas, you can select rows from a DataFrame using either the `.loc[]` or `.iloc[]` methods. These methods allow you to access rows by their row label (`.loc[]`) or by their integer index (`.iloc[]`).

**Example Using `.iloc[]`:**

```python
# Select a single row by integer index
row = data.iloc[0]
print(row)
```

### Exercise 9: Selecting Rows

**Objective:** Practice selecting rows from a Pandas DataFrame using
 `.iloc[]` methods.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select the first row of the DataFrame using `.iloc[]` and store it in a variable called `first_row_loc`.

3. Select the second row of the DataFrame using `.iloc[]` and store it in a variable called `second_row_iloc`.

4. Print both `first_row_loc` and `second_row_iloc` to view the selected rows.

In [ ]:
# Do Exercise in this cell
#
#
#

## Selecting Rows and Columns with `.iloc[]` & `.loc[]`

The `.iloc[]` method in Pandas allows you to select specific rows and columns from a DataFrame based on integer indexes. It follows the format `iloc[first_index, second_index]`, where:

- `first_index` refers to the **row** index you want to select.
- `second_index` refers to the **column** index you want to select.

**Example:**

```python
# Select the element in the first row and second column
element = data.iloc[0, 1]
print(element)
```

In the example above, `data.iloc[0, 1]` selects the element in the first row (index 0) and the second column (index 1) of the DataFrame.

### Exercise 10: Selecting Rows and Columns with `.iloc[]`

**Objective:** Practice selecting specific rows and columns using the `.iloc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print the element in the third row and fifth column(industry) using `.iloc[]` and print the result.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 11: Selecting Rows and Columns with `.loc[]`

**Objective:** Practice selecting specific rows and columns using the `.loc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print the element in the third row and industry column using `.loc[]` and print the result.

Hint: `data.loc[3, 'column_name']`

By using loc, you can access rows or columns by their name and not only by index.

In [ ]:
# Do Exercise in this cell
#
#
#

## Slicing with `.iloc[]`  & `.loc[]`

You can also use slicing with `.iloc[]` to select a range of rows or columns. For example:

- `data.iloc[0:3]` selects the first three rows.
- `data.iloc[:, 1:4]` selects columns 1 to 3 (excluding 4).

**Example:**

```python
# Select the first three rows and columns 1 to 3
subset = data.iloc[0:3, 1:4]
print(subset)
```

In this example, `data.iloc[0:3, 1:4]` selects a subset of the DataFrame containing the first three rows and columns 1 to 3.

### Exercise 12: Selecting Rows and Columns with `.iloc[]`

**Objective:** Practice selecting specific rows and columns using the `.iloc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print a subset of the DataFrame containing the first five rows and columns 2 to 5 using slicing with `.iloc[]`.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 13: Selecting Rows and Columns with `.loc[]`

**Objective:** Practice selecting specific rows and columns using the `.iloc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print a subset of the DataFrame containing the first five rows and columns `'revenues'` to `'assets'` using slicing with `.loc[]`.

In [ ]:
# Do Exercise in this cell
#
#
#

## Selecting Specific Rows or Columns with `.iloc[]`  & `.loc[]`

You can select specific rows or columns in a Pandas DataFrame using the `.iloc[]` method by providing a list of indices for the rows or columns you want to select. Here are some examples:

**Example: Selecting Specific Rows**
```python
# Select rows 1, 5, and 7
selected_rows = data.iloc[[1, 5, 7]]
print(selected_rows)
```

In this example, `data.iloc[[1, 5, 7]]` selects rows with indices 1, 5, and 7 from the DataFrame.

**Example: Selecting Specific Columns**
```python
# Select columns 4 and 6
selected_columns = data.iloc[:, [4, 6]]
print(selected_columns)
```

Here, `data.iloc[:, [4, 6]]` selects all rows from columns with indices 4 and 6.

**Example: Selecting Specific Rows and Columns**
```python
# Select rows 3 and 4, and columns 2 and 7
selected_data = data.iloc[[3, 4], [2, 7]]
print(selected_data)
```

In this case, `data.iloc[[3, 4], [2, 7]]` selects rows with indices 3 and 4 and columns with indices 2 and 7.


**Example: Selecting Specific Rows and Columns**
```python
# Select rows with labels 1 and 3, and columns with labels 'company' and 'revenues'
selected_data = data.loc[[1, 3], ['company', 'revenues']]
print(selected_data)
```

In this example, `data.loc[[1, 3], ['company', 'revenues']]` selects rows labeled 1 and 3 and columns labeled 'company' and 'revenues'.

In [ ]:
# Run these examples
#
#


### Exercise 14: Selecting Specific Rows or Columns with `.iloc[]`

**Objective:** Practice selecting specific rows and columns using the `.iloc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print the rows with indices 2, 6, and 8.

3. Select and print columns with indices 1, 3, and 5.

4. Select and print a subset of the DataFrame containing rows with indices 1 and 3, and columns with indices 0 and 4.

By completing this exercise, you will gain confidence in selecting specific rows and columns using `.iloc[]`.

In [ ]:
# Do Exercise in this cell
#
#
#


### Exercise 15: Selecting Specific Rows or Columns with `.loc[]`

**Objective:** Practice selecting specific rows and columns using the `.loc[]` method.

**Instructions:**

1. Use the provided DataFrame `data`.

2. Select and print the rows with labels 0, 4, and 6.

3. Select and print columns with labels 'rank', 'industry', and 'country'.

4. Select and print a subset of the DataFrame containing rows with labels 2 and 5, and columns with labels 'rank' and 'profits'.

By completing this exercise, you will gain confidence in selecting specific rows and columns using `.loc[]`.

In [ ]:
# Do Exercise in this cell
#
#
#

## Dropping Rows and Columns in Pandas

You can drop rows and columns from a Pandas DataFrame using the `.drop()` method. The `axis` parameter determines whether you're dropping rows (`axis=0`) or columns (`axis=1`). By default, `axis` is set to 0.

**Dropping Rows:**
```python
# Drop rows with indices 0 and 2
data.drop([0, 2], axis=0)
```

**Dropping Columns:**
```python
# Drop columns named 'column1' and 'column2'
data.drop(['column1', 'column2'], axis=1)
```

## `inplace` Parameter

The `inplace` parameter controls whether the changes are made to the DataFrame itself or a new DataFrame is returned with the specified rows or columns dropped.

- When `inplace=True`, the DataFrame is modified in place, and `None` is returned.
- When `inplace=False` (default), a new DataFrame with the specified rows or columns dropped is returned, and the original DataFrame remains unchanged.

**Examples:**

```python
# Drop rows with indices 0 and 2 in place
df.drop([0, 2], axis=0, inplace=True)

# Drop columns named 'column1' and 'column2' and return a new DataFrame
new_df = df.drop(['column1', 'column2'], axis=1)
```

### Exercise 16: Dropping Rows and Columns

**Objective:** Practice dropping rows and columns in a Pandas DataFrame.

**Instructions:**

1. Drop the row with index 2 from the data and store the result in a new DataFrame(variable).

3. Drop the column 'rank' from the `data` in place (modify the original DataFrame) using axis 1.

4. Drop the row with index 3 in place (modify the original DataFrame).

In [ ]:
# Do Exercise in these cell
#
#
#