# Applied Data Lab

# Assignment 02: Pandas

In [1]:
import pandas as pd

## Setting Up the Address
In this cell, a path variable is set with the value of the current directory where the notebook is open. This is done to easily upload the dataset file from this location.

In [ ]:
# Run this cell
import os
PATH = os.getcwd() + '/'
PATH

**ONLY FOR GOOGLE COLAB USERS**

For those who are using **Google Colab**, uncomment and run the cell below.

**Note**: You have to repalce value of variable `YOUR_PATH_TO_DATASET_DIRECTORY` with the path where your dataset is placed in the Google Drive folder.

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')
# YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab/phase_2"
# PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
# PATH

### Exercise 1: Read Data

Import the `Corporate_Financial_Metrics_Dataset.csv` in variable `data`

In [ ]:
# Do Exercise in this cell
#
#
#

In [101]:
#HINT
# data = pd.read_csv(PATH+'Corporate_Financial_Metrics_Dataset.csv')

## Selecting Columns in Pandas

You can select columns in Pandas using multiple methods. The primary methods are:

1. Using **Double Square Brackets `[[]]`** to return a DataFrame with one or more columns:
   
   ```python
   # Selecting a single column, returns a DataFrame
   df[['Column1']]
   
   # Selecting multiple columns, returns a DataFrame
   df[['Column1', 'Column2']]
   ```

2. Using **Single Square Brackets `[]`** with the column name(s) inside, which returns a Series if selecting a single column and a DataFrame if selecting multiple columns:
   
   ```python
   # Selecting a single column, returns a Series
   df['Column1']
   
   # Selecting multiple columns, returns a DataFrame
   df[['Column1', 'Column2']]
   ```

3. Using **`.loc[]`** with row and column selectors to return specific rows and columns as a DataFrame:
   
   ```python
   # Using .loc[] to select specific rows and columns
   df.loc[:, 'Column1']
   df.loc[:, ['Column1', 'Column2']]
   ```

Remember that the first two methods, using single and double square brackets, are most commonly used for column selection.

### Exercise 2: Selecting `sector` Column

select single sector column and display it
using any method .loc or simple []

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 3: Calculate Frequency of Sector Values

**Objective:** Calculate and display the frequency of sector values in a DataFrame.

**Instructions:**


1. Calculate the frequency of sector values without using Pandas. Use the provided code to create a dictionary (`freq`) and loop through the 'Sector' column to count the frequency of each sector value.

   ```python
   freq = {}
   for sector in df.loc[:,'column']:
       if sector not in freq:
           freq[sector] = 0
       freq[sector] += 1

   print(freq)
   ```

2. Calculate the frequency of sector values using Pandas' `value_counts()` method and display the result in a pandas Series.

**Hint**: `df.value_counts()` or `series.value_counts()`


3. Print the frequency of sector values calculated using both methods. Compare the results.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 4: Normalize Frequency Result

**Objective:** Normalize the frequency values of sectors in the DataFrame and display the normalized results.

**Instructions:**

1. Use `value_counts()` method to calculate the frequency of sector values from the 'Sector' column and save the result in a variable called `sector_freq`.

2. Divide the `sector_freq` Series by the total number of rows in the DataFrame (`len(data)`).

**Hint**: `sector_freq / len(data)`

3. Print the normalized frequency values.

By normalizing the frequency values, you'll get a sense of the proportion of each sector within the dataset.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 5: Normalize Frequency Result Using the 'normalize' Argument

**Objective:** Normalize the frequency values of sectors in the DataFrame using the `normalize` argument in the `value_counts()` method and display the normalized results.

**Instructions:**

1. Use Pandas' `value_counts()` method on the 'Sector' column of the DataFrame. Pass the argument `normalize=True` to the method. This will calculate and return the normalized frequency values directly.

**Hint**: `value_counts(normalize=True)`

2. Print the `sector_freq_normalized` Series to display the normalized frequency values.

Using the `normalize=True` argument simplifies the process of obtaining normalized frequency values from the 'Sector' column.

In [ ]:
# Do Exercise in this cell
#
#
#

## Selecting Rows Using Boolean Mask/Indexing

You can select specific rows from a DataFrame using a boolean mask or indexing. A boolean mask is essentially a series with the same length as the DataFrame, containing `True` and `False` values. When you apply this mask to the DataFrame, it selects rows where the mask is `True`.

Here's an example to illustrate how this works:

```python
# Import Pandas
import pandas as pd

# Sample DataFrame
person = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35]}
df = pd.DataFrame(person)

# Create a boolean mask to select rows where 'Age' is greater than 25
mask = [True, False, False, True]

# Apply the mask to the DataFrame
selected_rows = df[mask]

print(selected_rows)
```

In this example, we've created a boolean mask (`mask`) where `True` values indicate the rows to select (in this case, the first and last rows). When the mask is applied to the DataFrame, it filters the rows accordingly.

In [ ]:
# Run this cell
person = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35]}
df = pd.DataFrame(person)
print("Data")
display ( df )

mask = [True, False, False, True]
selected_rows = df[mask]
selected_rows
print("\n\nSelected Data")
display ( selected_rows )

## Comparison Operators

Comparison Operators in Pandas are used to filter rows in a DataFrame based on certain conditions. These operators are similar to the ones used in Python. Here's a summary of common comparison operators and their descriptions:

| Operator | Description                  |
|----------|------------------------------|
| `<`      | Less than                    |
| `>`      | Greater than                 |
| `<=`     | Less than or equal to       |
| `>=`     | Greater than or equal to    |
| `!=`     | Not equal to                 |
| `==`     | Equal to                     |

You can use these operators to create conditions and filter rows in a DataFrame accordingly. For example, you can filter rows where a particular column is greater than a specific value or where two columns are not equal.

In [ ]:
# Run this cell
df['Age'] > 25

This returns a boolean mask for records where the age is greater than 25. You can use this mask and pass it to the DataFrame (`df`) to retrieve the corresponding records.

In [ ]:
# Run this cell
mask = df['Age'] > 25
df[mask]

Alternate

In [ ]:
# Run this cell
df[ df['Age'] > 25 ]

### Exercise 6: Selecting Records with Revenues Greater Than Median

**Objective:** Calculate the median of revenues and select records with revenues greater than the median.

**Instructions:**

1. Calculate the median of the 'revenues' column using the `median()` method and save it in a variable named `median_revenues`.

**Hint:** `data['col'].meadian()`

2. Apply a filter to the DataFrame to select records with revenues greater than the median.

**Hint:** `data[ data['col'] > x ]`

3. Print the `selected_records` DataFrame to display the records with revenues greater than the median.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 7: Selecting Records with Revenues Equal & Less Than Mean

**Objective:** Calculate the mean of revenues and select records with revenues equal and less than the mean.

**Instructions:**

1. Calculate the mean of the 'revenues' column using the `mean()` method and save it in a variable named `mean_revenues`.

2. Apply a filter to the DataFrame to select records with revenues equal and less than the median.

3. Print the `selected_records` DataFrame to display the records with revenues greater than the median.

In [ ]:
# Do Exercise in this cell
#
#
#

## Logical Operators in Pandas

Pandas also supports logical operators that allow you to create complex conditions for filtering rows in a DataFrame. Here are the common logical operators and their descriptions:

- `&` (AND): Combines two or more conditions and returns `True` if all conditions are `True`.
- `|` (OR): Combines two or more conditions and returns `True` if at least one condition is `True`.
- `~` (NOT): Negates a condition, returning `True` if the condition is `False`.

You can use these logical operators to create compound conditions for row selection in a DataFrame. For example, you can filter rows where a specific column meets multiple conditions, or you can exclude rows based on a particular condition.

Here's an example of using logical operators in Pandas:

In [ ]:
# Run this cell

person = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'Salary': [50000, 60000, 45000, 70000]}
df = pd.DataFrame(person)

# Create a condition to filter rows where 'Age' is greater than 25 and 'Salary' is less than 60000
condition = (df['Age'] > 25) & (df['Salary'] < 70000)

# Apply the condition to select rows
selected_rows = df[condition]

print(selected_rows)

In this example, the logical operators `&` are used to create a compound condition, and the resulting DataFrame `selected_rows` contains rows that satisfy both conditions.

Using logical operators allows you to perform advanced row filtering based on multiple criteria in your DataFrame.

### Exercise 8: Select Records Based on Two Constraints

**Objective:** Select records from the DataFrame where the headquarters location is `'Beijing, China'` and revenues are greater than the mean of revenues.

**Instructions:**

1. Calculate the mean of revenues using the `mean()` method on the 'Revenues' column. Store the result in a variable named `mean_revenues`.

2. Create a condition to filter rows where 'HQ_Location' is equal to `'Beijing, China'` and 'Revenues' are greater than `mean_revenues`. You can use logical operators (`&` **AND gate**) to combine these conditions.

3. Apply the condition to select rows that meet both constraints and store the result in a new DataFrame called `selected_records`.

4. Print the `selected_records` DataFrame to display the records that satisfy both constraints.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 9: Sort Data by Single Column

**Objective:** Sort the data by the 'Total_Stockholder_Equity' column in ascending order.

**Instructions:**

1. Use the `sort_values()` method on the DataFrame to sort the data by the 'Total_Stockholder_Equity' column in ascending order (`ascending=True`).

**Hint:** `data.sort_values(by='column_name', ascending=True/False)`

2. Save the sorted DataFrame in a variable named `sorted_data`.

3. Print the `sorted_data` DataFrame to display the data sorted by total stockholder equity in ascending order.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 10: Select Records Having Maximum Total Stockholder Equity for Each Country

**Objective:** Select records for each country where the total stockholder equity is maximum within that country.

**Instructions:**

In this exercise, you will use the `groupby` method in pandas to group the data by the 'country' column and then filter records where the total stockholder equity is maximum within each country. Here are the steps:

1. **Group Data by Country:**
   - Use the `groupby` method to group the data by the 'country' column.
   - Apply the `['total_stockholder_equity']` indexer to select the 'total_stockholder_equity' column for each group.

   ```python
   max_group_equity = data.groupby('country')['total_stockholder_equity']
   ```

2. **Find the Maximum Equity in Each Group:**
   - Use the `transform` method to find the maximum total stockholder equity within each group (country).

   ```python
   max_equity_by_country = max_group_equity.transform('max')
   ```

3. **Filter Records with Maximum Equity:**
   - Create a boolean mask by comparing the 'total_stockholder_equity' column with the 'max_equity_by_country' series.
   - Use this mask to filter the records where the total stockholder equity is maximum within each country.

   ```python
   filtered_data = data[data['total_stockholder_equity'] == max_equity_by_country]
   ```

4. **Result:**
   - The `filtered_data` DataFrame will contain records with the maximum total stockholder equity for each country.

   ```python
   filtered_data[['country','company']]
   ```

By following these steps, you can easily select records with the greatest total stockholder equity within each country in the dataset.


**Note:** We won't delve into a detailed explanation of the `groupby` and `transform` methods at this point, as they are more advanced topics. However, you can use these methods to efficiently group and perform calculations on data within specific groups in a pandas DataFrame.

In [ ]:
# Do Exercise in this cell
#
#
#