# Applied Data Lab

# Assignment 03 Part 1:

## Lists and Multi-Dimensional Lists

### What List Can Contain?

In Python, a list is a versatile data structure that can hold elements of different data types, including variables. Lists are commonly used to store collections of related values for various purposes. Let's explore how to create lists using both hard-coded values and a generalized approach.

**Example 1: Hard-Coded Values**
```python
apple = ['red', '0.3g', 65, 'A']
print(apple)  # Output: ['red', '0.3g', 65, 'A']
```

In this example, we directly created a list named `apple` with specific values.

**Example 2: Generalized Approach**
```python
color = 'Red'
mass = '0.35g'
rs_per_kg = 72
vitamin = 'A'
apple = [color, mass, rs_per_kg, vitamin]
print(apple)  # Output: ['Red', '0.35g', 72, 'A']
```

In this example, we used variables to store values and then created a list `apple` containing those variables. When we print the list, Python displays the values stored in the variables.

It's important to note that when you use a print statement, Python outputs the values themselves, not the variable names. This distinction is essential because variables are part of the code's internal structure, while input and output statements (such as print) exist outside the code. Therefore, the values take precedence in the output.

Remember this principle when working with lists and variables to ensure clear and accurate output.

In [ ]:
# Run this cell
color = 'Red'
mass = '0.35g'
rs_per_kg = 72
vitamin = 'A'
apple = [color, mass, rs_per_kg, vitamin]
print(apple)

### Exercise 1: Creating and Customizing Lists

**Objective:** Practice creating lists and customizing them with relevant data.

**Instructions:** Consider the examples of the `fruits` and `teacher` lists provided below:

1. Example `fruits` List:
   ```python
   fruits = ["apple", "banana", "orange", "grapes"]
   ```

2. Example `teacher` List:
   ```python
   #name, education, years of experience, subject
   teacher = ["Miss Humaira Bashir", "masters", 3, "AI"]
   ```


**Task 1: Cars List**
Create a list similar to the `fruits` list shown above, but instead of fruits, create a list named `cars` that contains the names of various car models. Ensure that the data type of each car name is a string.

**Your Task:**

1. Create the lists as specified in Task 1.
2. Print the resulting lists.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2: Student List**
Create a list similar to the `teacher` list provided, but this time create a list named `student` with student information. In the `student` list:
- The first element should be the student's name (a string).
- The next three elements should be the student's marks in mathematics, physics, and English, represented as floating-point numbers (e.g., 56.4, 23.5, etc.).

For this task, don't mention the subjects (mathematics, physics, English) explicitly; only include the marks in the respective order.

**Your Task:**

1. Create the lists as specified in Task 2.
2. Print the resulting lists.

In [ ]:
# Do Task 2 in this cell
#
#
#

### List Inside List (nested list)

As you've experienced, lists can hold various data types and variables. It means they can also hold other lists as elements, creating a structure known as a **multi-dimensional list** or a list of lists.

**Now, let's search into why we use multi-dimensional lists and the benefits they offer:**

First, let's review the concept of a single-dimensional list:

Using a list, you can organize and access multiple values by indexing, as demonstrated in this example:

**Example 3:**
```python
student_scores = [85, 90, 78]
print(student_scores[0])  # 90
print(student_scores[2])  # 78
```

However, there are situations where a single-dimensional list isn't sufficient to represent complex data structures. This is where multi-dimensional lists come into play:

Consider the scenario of a hundred students. Each student's information comprises their name, along with scores in English, Math, and Physics. Storing this information using individual variables for each student might lead to an unwieldy code:
```
st_1= ["Alice", 85, 92, 78]
st_2= ["Bob", 90, 88, 76]
. .
. .
. .
. .
st_100= ["Zoe", 78, 95, 82]
```

As the number of students increases, so does the number of variables. This not only clutters the code but also makes it harder to manage.

With multi-dimensional lists, you can organize and simplify the storage of such data:

```python
students = [st_1,st_2,........,st_100]
```
or
```python
students = [
    ["Alice", 85, 92, 78],
    ["Bob", 90, 88, 76],
    # ... and so on for each student
    ["Zoe", 78, 95, 82]
]
```

Now, each student's data is contained within a single list, and all these lists are organized within the `students` list. This approach makes it easier to manage and access student information.

When printed, the `students` list would look like:

```python
[
  ["Alice", 85, 92, 78],
  ["Bob", 90, 88, 76],
  .
  # ... and so on for each student
  .
  ["Zoe", 78, 95, 82]
]
```

It provides a good structure, and now we can access easy student by single variable student using indexing.

With this structure, you can conveniently access student information using indexing, just as you would with a single-dimensional list:

```python

print(students[0])  # ['Alice', 85, 92, 78]
print(students[1])  # ['Bob', 90, 88, 76]
# ... and so on for each student
print(students[99])  # ['Zoe', 78, 95, 82]
```
By organizing data in this way, you achieve better code organization and easier access to information. Multi-dimensional lists are a fundamental concept in data manipulation and are extensively used in various programming scenarios.

In [ ]:
# Run this cell
students = [
    ["Alice", 85, 92, 78],
    ["Bob", 90, 88, 76],
    ["Zoe", 78, 95, 82]
]
print(students)

### Exercise 2: Creating Multi-Dimensional Lists

**Objective:** Practice creating and using multi-dimensional lists.

**Instructions:**

In this exercise, you will work with multi-dimensional lists to store and organize data.

**Task 1: Student Scores**

Create a multi-dimensional list named `student_scores` to store the scores of three students. Each student's scores should be represented as a list within the main list. Use the following data:

1. Student 1: Name - "Alice", Scores - English: 85, Math: 92, Physics: 78
2. Student 2: Name - "Bob", Scores - English: 90, Math: 88, Physics: 76
3. Student 3: Name - "Catherine", Scores - English: 78, Math: 95, Physics: 82

**Your Task:**

1. Create the multi-dimensional lists as specified in Task 1 and Task 2.
2. Print the resulting multi-dimensional lists.

**Example Output:**

```
Student Scores:
[['Alice', 85, 92, 78], [...], [...]]
```

This example output demonstrates the structure of the multi-dimensional lists and their content.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2: Inventory**

Create another multi-dimensional list named `inventory` to store the quantities and prices of different items. Each item's information should be represented as a list within the main list. Use the following data:

1. Item 1: Name - "Apple", Quantity: 50, Price: 0.5
2. Item 2: Name - "Banana", Quantity: 30, Price: 0.3
3. Item 3: Name - "Orange", Quantity: 40, Price: 0.4

hint:
```
variable = [["Apple", ..., ...],[],[]]
```

**Your Task:**

1. Create the multi-dimensional lists as specified in Task 1 and Task 2.
2. Print the resulting multi-dimensional lists.

**Example Output:**

```
Inventory:
[['Apple', 50, 0.5], [...], [...]]
```

This example output demonstrates the structure of the multi-dimensional lists and their content.

In [ ]:
# Do Task 2 in this cell
#
#
#

### Accessing Elements from a List
In Python, you can access elements from a list using indexing. Lists are zero-indexed, which means the first element is at index 0, the second element at index 1, and so on.

For example, if you have a list `my_list = [10, 20, 30, 40, 50]`:
- `my_list[0]` will give you `10`
- `my_list[2]` will give you `30`
- `my_list[-1]` will give you `50` (negative index counts from the end)

In [ ]:
# Run this cell

# Accessing elements from a regular list
numbers = [10, 20, 30, 40, 50]
print(numbers[0])    # Output: 10
print(numbers[2])    # Output: 30
print(numbers[-1])   # Output: 50

### Accessing Elements from a Multi-Dimensional List
A multi-dimensional list is essentially a list of lists.

**Example 4:**

You can have a list of lists representing car data:
```python
car_data = [
    ["Toyota", "Corolla", 150],
    ["Honda", "Civic", 140],
    ["Ford", "Focus", 130]
]
```
Here, each sub-list represents a car's data with its manufacturer, model, and horsepower.

**Accessing Elements in a Multi-Dimensional List:**
To access elements in a multi-dimensional list, you use multiple indices, one for each level of nesting. For example:

```python
car = car_data[0]
print(car) # ["Toyota", "Corolla", 150]
print(car[2]) # 150
```
or just
```python
print(car[0][2]) # 150
```
Both give same ouput i.e, 140

Another example:
- `car_data[1]` gives `["Honda", "Civic", 140]`
- `car_data[1][2]` gives `140` (horsepower of the Honda Civic)


**Code Example:**
Here's a code example that demonstrates accessing elements from both a regular list and a multi-dimensional list:

In [ ]:
# Run this cell

# Accessing elements from a multi-dimensional list
car_data = [
    ["Toyota", "Corolla", 150],
    ["Honda", "Civic", 140],
    ["Ford", "Focus", 130]
]
print(car_data[0])           # Output: ['Toyota', 'Corolla', 150]
print(car_data[1][2])        # Output: 140

# Accessing elements using two indices
print(car_data[2][0])        # Output: Ford

### Exercise 3: Accessing elements

**Objective:** Practice accessing elements from a multi-dimensional list.

**Instructions:**

In this exercise, you will work with multi-dimensional to access data.

**Task 1: Calculating Average Salary**

Given the following data for three employees:
```
data = [ ["John", 3000], ["Alice", 4500], ["Bob", 2500] ]
```
Calculate the average salary by accessing the salary elements and then computing the average.

Steps:

1. Initialize a variable `total_salary` to store the sum of salaries.
2. Access the salary of each employee using indexing `((data[index][index] + data[index][index] +  ... ) and add it to `total_salary`.
4. Divide `total_salary` by the number of entries in data to get the average salary and save it in variable `average`.
5. Print the calculated average salary.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2:**

Given the following pattern list:

```python
pattern = ['*', '****', '**', '*****', '***']
```

Follow these steps to print the patterns:

1. Access the pattern elements from the list using indexing (`pattern[index]`) and print them.

**Your Task:**
Print the patterns in the such and order to get result like this:
```
*
**
***
****
*****
```

also this

```
*****
****
***
**
*
```

**Example Code:**
```python
# Given pattern list
pattern = ['*', '****', '**', '*****', '***']

print(pattern[])
print(pattern[])
print(pattern[])
print(pattern[])
```

In [ ]:
# Do Task 2 in this cell
#
#
#

In [ ]:
# Do Task 2 in this cell
#
#
#