# Applied Data Lab

# Assignment 04 Part 3:

## Setting Up the Address
In this cell, a path variable is set with the value of the current directory where the notebook is open. This is done to easily upload the dataset file from this location.

In [3]:
# Run this cell
import os
PATH = os.getcwd() + '/'
PATH

'/content/'

**ONLY FOR GOOGLE COLAB USERS**

For those who are using **Google Colab**, uncomment and run the cell below.

**Note**: You have to repalce value of variable `YOUR_PATH_TO_DATASET_DIRECTORY` with the path where your dataset is placed in the Google Drive folder.

In [4]:
from google.colab import drive
drive.mount('/content/drive/')
YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab_Assignments/phase_1"
PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
PATH

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

'/content/drive/MyDrive/work/Applied_Data_Lab_Assignments/phase_1/'

## Working on Student Dataset

Importing the dataset is already done for you; just run the cell below.

In [6]:
# Run this cell
import csv
data = list ( csv.reader ( open(PATH + 'student_data.csv', 'r', encoding='utf-8') ) )
display (data)

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

### Exercise 1:

**Task 1:**
Slice the data from index 1 to the end and save it in a variable called `only_records` so that header is removed and only the records are left. Then, print `only_records`.

Hint: `only_records = data[1:]`

In [ ]:
# Do Task 1 in this cell
#
#
#

In [8]:
only_records = data[1:]
only_records

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

**Task 2:**

These are the headings: `['roll no', 'Name', 'Chemistry', 'Physics', 'Math']`. You need to create an empty array and append chemistry marks to it by iterating over `only_records`. Access the chemistry marks by using the index corresponding to 'Chemistry' in the headings.

Hint: Here is an example of iterating over records:
```python
for record in only_records:
    print(record)
```

And here is an example of iterating over a record's name only:
```python
for record in only_records:
    print(record[1])
```

In a similar manner, you need to use the index corresponding to 'Chemistry' in the headings to iterate over the chemistry marks and append them to an empty list. This list should be initialized before the loop, like this:
```python
chemistry_marks = []
for record in only_records:
    .
    .
    .
```

**Note:** You must convert the string numbers to integers or floats when appending them to `chemistry_marks` using type casting:

```python
chemistry_marks.append(float(record[i]))
```

Kindly run above examples too to see the output of each example

In [ ]:
# Do Task 2 in this cell
#
#
#

In [14]:
chemistry_marks = []
for record in only_records:
    chemistry_marks.append(float(record[2]))

Task 3:

Now, calculate the average of the chemistry marks. Use the `sum()` function to calculate the sum of the chemistry marks and divide it by the length of the `chemistry_marks` list using the `len()` function. Save the result in the `average` variable and print it.

In [16]:
average = sum(chemistry_marks)/len(chemistry_marks)
print(average)

53.8

Task 4:

Now, Same way create empty list save it in physica_marks variable remember to type cast string numbers in float and the nappend it in list then get the max marks of the chemistry physics_marks. Use the `max()` function to get max marks then use physics_marks.index(max_marks) to get the index where the marks exist in the list then print(only_records[max_marks_index)

In [ ]:
# Run this cell

In [ ]:
# Do Task 5 in this cell
#
#
#