# Applied Data Lab

# Assignment 03 Part 2:

## Conditional Operators and Statements

### Conditional Operators

Conditional operators, also known as comparison operators, are used to compare values and evaluate conditions. They return a boolean value (`True` or `False`) based on whether the comparison is true or false.

Here are the common conditional operators in a Markdown table:

| Operator | Description               | Example 1                   | Example 2                   |
|----------|---------------------------|-----------------------------|-----------------------------|
| `==`     | Equal to                  | `5 == 5` (True)             | `6 == 4` (False)            |
| `!=`     | Not equal to              | `5 != 6` (True)             | `6 != 6` (False)            |
| `<`      | Less than                 | `5 < 6` (True)              | `6 < 5` (False)             |
| `>`      | Greater than              | `6 > 5` (True)              | `5 > 6` (False)             |
| `<=`     | Less than or equal to     | `5 <= 6` (True)             | `5 <= 5` (True)             |
| `>=`     | Greater than or equal to  | `6 >= 5` (True)             | `5 >= 6` (False)            |

**Example 1:**

In [ ]:
# Run this cell
# Basic examples of using conditional operators
print(5 == 5)       # Output: True
print(5 == 4)       # Output: False

print(6 != 4)       # Output: True
print(3 != 3)       # Output: False

print(5 < 6)        # Output: True
print(6 > 5)        # Output: True
print(7 < 7)        # Output: False
print(10 > 20)      # Output: False

print(5 <= 5)       # Output: True
print(6 >= 5)       # Output: True
print(2.2 >= 2.3)   # Output: False

### Exercise 1:

**Task 1:** Using conditional operators, evaluate and print the results of the following expressions:
1. Is 10 equal to 20?
2. Is 15 not equal to 15?
3. Is 8 less than 6?
4. Is 25 greater than or equal to 25?

**Hint:**
```python
# Task 1
print(10 == 20)   # Output: False
.
.
```

In [ ]:
# Do Task 1 in this cell
#
#
#

### Conditional Statements

In programming, just as we make decisions every day, the concept of **decision-making** is replicated using **conditional statements**. These statements enable your program to take different paths based on certain conditions. The most common types of conditional statements are `if`, `if-else`, and `if-elif-else`.

Imagine how we make decisions in real life. For instance, before heading to university, we might check the weather. If the weather is not rainy, we decide to go; otherwise, we stay home. This same decision-making process can be translated into programming:

```
if (weather is not rainy):
    # If the weather is not rainy, go to university
    Goto University
else:
    # If the weather is rainy, stay home
    Don't Goto University
```

The syntax for conditional statements is straightforward: everything that is in the `if` code block is indented (spaced) by a single `tab` size.

- For a basic `if` statement:
  ```python
  if (condition):
      Statement(s) # run when the condition is true
  ```

- For an `if-else` statement:
  ```python
  if (condition):
      Statement(s) # run when the condition is true
  else:
      Statement(s) # run when the condition is false
  ```

#### `If` Statement

The `if` statement is used to execute a block of code only if a certain condition is `True`.

**Example 2:**

In [ ]:
# Run this cell

# In this example, the `if` statement's condition is True, so the statement `a = a + 10` will execute
a = 25
if True:
    a = a + 10

print(a)  # Output: 35

In [ ]:
# Run this cell

# In this example, the `if` statement's condition is False, so the statement `b = b - 5` won't execute
b = 30
if (False):
    b = b - 5

print(b)  # Output: 30

In [ ]:
# Run this cell

# In this example, 25 is greater than 20 so this will return True and print statement will execute
temperature = 25
if temperature > 20:
    print("It's a warm day!")

#### `If-else` Statement

The `if-else` statement allows you to execute one block of code if the condition is `True`, and a different block if it's `False`.

**Example 3:**

In this example, if the first condition is true, the `if` block is executed; otherwise, the `else` block is executed:

In [ ]:
# Run this cell

# Example 1: Checking voting eligibility

age = 17

if age >= 18:
    print("You can vote!")
else:
    print("You can't vote yet.")

In [ ]:
# Run this cell

age = 19

if age >= 18:
    print("You can vote!")
else:
    print("You can't vote yet.")

In the above code, the program checks if the person's age is 18 or older. If it is, the message "You can vote!" is printed; otherwise, "You can't vote yet." is printed.

#### `if-elif` and `if-elif-else` Statement

The `if-elif-else` statement lets you check multiple conditions in sequence and execute the code block associated with the first `True` condition.

For instance, when grading students, you might check if their marks are above 90. If not, you then check if their marks are above 80. If not, you check if their marks are above 70, and so on.

In the following code, the program checks the student's grade and prints the corresponding letter grade based on the **first condition** that is true.

**Example 4: Case 1**

In this case:
- Since the grade is 85, the first condition (`grade >= 90`) is false.
- The second condition (`grade >= 80`) is true, so "B" is printed.
- The rest of the conditions are not checked once a true condition is found.

In [ ]:
# Run this cell

grade = 85

if grade >= 90:
    print("Grade A")
elif grade >= 80:
    print("Grade B")
elif grade >= 70:
    print("Grade C")

**Example 4: Case 2**

In this example, none of the conditions (`grade >= 90`, `grade >= 80`, `grade >= 70`) are true. So, nothing is printed.

In [11]:
# Run this cell

# all condition get false so nothing is print
grade = 50

if grade >= 90:
    print("Grade A")
elif grade >= 80:
    print("Grade B")
elif grade >= 70:
    print("Grade C")

**Example 4: Case 3 Handling default case with else**

In this example, none of the conditions (`grade >= 90`, `grade >= 80`, `grade >= 70`) are true. So, the `else` block is executed, and "D" is printed as the default grade.

In [ ]:
# Run this cell

# All condition return false so else block is print as default

grade = 68

if grade >= 90:
    print("Grade A")
elif grade >= 80:
    print("Grade B")
elif grade >= 70:
    print("Grade C")
else:
    print("Grade D")

### Exercise 2: Conditional Statements Practice

**Objective:** Practice using `if`, `if-else`, and `if-elif-else` statements.

**Instructions:**

In this exercise, you will practice writing and using conditional statements. Follow the instructions for each task.

**Task 1: Positive or Negative**

Write a program that takes an integer input from the user and prints whether the number is positive or negative.

**Task 2: Temperature Check**

Write a program that takes the temperature as input. If the temperature is above 30 degrees Celsius, print "It's a hot day!". Otherwise, print "It's not very hot today."

**Task 3: Grading System**

Write a program that takes a student's score as input and prints their corresponding grade using the following grading scale:
- 90 or above: "A"
- 80 or above: "B"
- 70 or above: "C"
- Below 70: "D"

**Example Solution:**

```python
# Task 1: Positive or Negative
number = int(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

# Task 2: Temperature Check
temperature = float(input("Enter the temperature: "))
if temperature > 30:
    print("It's a hot day!")
else:
    print("It's not very hot today.")

# Task 3: Grading System
score = int(input("Enter the student's score: "))
if score >= 90:
    print("Grade A")
elif score >= 80:
    print("Grade B")
elif score >= 70:
    print("Grade C")
else:
    print("Grade D")
```

Completing these exercises will help you solidify your understanding of using `if`, `if-else`, and `if-elif-else` statements for decision-making in programming.


**Task 1: Cars List**
Create a list similar to the `fruits` list shown above, but instead of fruits, create a list named `cars` that contains the names of various car models. Ensure that the data type of each car name is a string.

**Your Task:**

1. Create the lists as specified in Task 1.
2. Print the resulting lists.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2: Student List**
Create a list similar to the `teacher` list provided, but this time create a list named `student` with student information. In the `student` list:
- The first element should be the student's name (a string).
- The next three elements should be the student's marks in mathematics, physics, and English, represented as floating-point numbers (e.g., 56.4, 23.5, etc.).

For this task, don't mention the subjects (mathematics, physics, English) explicitly; only include the marks in the respective order.

**Your Task:**

1. Create the lists as specified in Task 2.
2. Print the resulting lists.

In [ ]:
# Do Task 2 in this cell
#
#
#

### List Inside List (nested list)

As you've experienced, lists can hold various data types and variables. It means they can also hold other lists as elements, creating a structure known as a **multi-dimensional list** or a list of lists.

**Now, let's search into why we use multi-dimensional lists and the benefits they offer:**

First, let's review the concept of a single-dimensional list:

Using a list, you can organize and access multiple values by indexing, as demonstrated in this example:

**Example 3:**
```python
student_scores = [85, 90, 78]
print(student_scores[0])  # 90
print(student_scores[2])  # 78
```

However, there are situations where a single-dimensional list isn't sufficient to represent complex data structures. This is where multi-dimensional lists come into play:

Consider the scenario of a hundred students. Each student's information comprises their name, along with scores in English, Math, and Physics. Storing this information using individual variables for each student might lead to an unwieldy code:
```
st_1= ["Alice", 85, 92, 78]
st_2= ["Bob", 90, 88, 76]
. .
. .
. .
. .
st_100= ["Zoe", 78, 95, 82]
```

As the number of students increases, so does the number of variables. This not only clutters the code but also makes it harder to manage.

With multi-dimensional lists, you can organize and simplify the storage of such data:

```python
students = [st_1,st_2,........,st_100]
```
or
```python
students = [
    ["Alice", 85, 92, 78],
    ["Bob", 90, 88, 76],
    # ... and so on for each student
    ["Zoe", 78, 95, 82]
]
```

Now, each student's data is contained within a single list, and all these lists are organized within the `students` list. This approach makes it easier to manage and access student information.

When printed, the `students` list would look like:

```python
[
  ["Alice", 85, 92, 78],
  ["Bob", 90, 88, 76],
  .
  # ... and so on for each student
  .
  ["Zoe", 78, 95, 82]
]
```

It provides a good structure, and now we can access easy student by single variable student using indexing.

With this structure, you can conveniently access student information using indexing, just as you would with a single-dimensional list:

```python

print(students[0])  # ['Alice', 85, 92, 78]
print(students[1])  # ['Bob', 90, 88, 76]
# ... and so on for each student
print(students[99])  # ['Zoe', 78, 95, 82]
```
By organizing data in this way, you achieve better code organization and easier access to information. Multi-dimensional lists are a fundamental concept in data manipulation and are extensively used in various programming scenarios.

In [ ]:
# Run this cell
students = [
    ["Alice", 85, 92, 78],
    ["Bob", 90, 88, 76],
    ["Zoe", 78, 95, 82]
]
print(students)

### Exercise 2: Creating Multi-Dimensional Lists

**Objective:** Practice creating and using multi-dimensional lists.

**Instructions:**

In this exercise, you will work with multi-dimensional lists to store and organize data.

**Task 1: Student Scores**

Create a multi-dimensional list named `student_scores` to store the scores of three students. Each student's scores should be represented as a list within the main list. Use the following data:

1. Student 1: Name - "Alice", Scores - English: 85, Math: 92, Physics: 78
2. Student 2: Name - "Bob", Scores - English: 90, Math: 88, Physics: 76
3. Student 3: Name - "Catherine", Scores - English: 78, Math: 95, Physics: 82

**Your Task:**

1. Create the multi-dimensional lists as specified in Task 1 and Task 2.
2. Print the resulting multi-dimensional lists.

**Example Output:**

```
Student Scores:
[['Alice', 85, 92, 78], [...], [...]]
```

This example output demonstrates the structure of the multi-dimensional lists and their content.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2: Inventory**

Create another multi-dimensional list named `inventory` to store the quantities and prices of different items. Each item's information should be represented as a list within the main list. Use the following data:

1. Item 1: Name - "Apple", Quantity: 50, Price: 0.5
2. Item 2: Name - "Banana", Quantity: 30, Price: 0.3
3. Item 3: Name - "Orange", Quantity: 40, Price: 0.4

hint:
```
variable = [["Apple", ..., ...],[],[]]
```

**Your Task:**

1. Create the multi-dimensional lists as specified in Task 1 and Task 2.
2. Print the resulting multi-dimensional lists.

**Example Output:**

```
Inventory:
[['Apple', 50, 0.5], [...], [...]]
```

This example output demonstrates the structure of the multi-dimensional lists and their content.

In [ ]:
# Do Task 2 in this cell
#
#
#

### Accessing Elements from a List
In Python, you can access elements from a list using indexing. Lists are zero-indexed, which means the first element is at index 0, the second element at index 1, and so on.

For example, if you have a list `my_list = [10, 20, 30, 40, 50]`:
- `my_list[0]` will give you `10`
- `my_list[2]` will give you `30`
- `my_list[-1]` will give you `50` (negative index counts from the end)

In [ ]:
# Run this cell

# Accessing elements from a regular list
numbers = [10, 20, 30, 40, 50]
print(numbers[0])    # Output: 10
print(numbers[2])    # Output: 30
print(numbers[-1])   # Output: 50

### Accessing Elements from a Multi-Dimensional List
A multi-dimensional list is essentially a list of lists.

**Example 4:**

You can have a list of lists representing car data:
```python
car_data = [
    ["Toyota", "Corolla", 150],
    ["Honda", "Civic", 140],
    ["Ford", "Focus", 130]
]
```
Here, each sub-list represents a car's data with its manufacturer, model, and horsepower.

**Accessing Elements in a Multi-Dimensional List:**
To access elements in a multi-dimensional list, you use multiple indices, one for each level of nesting. For example:

```python
car = car_data[0]
print(car) # ["Toyota", "Corolla", 150]
print(car[2]) # 150
```
or just
```python
print(car[0][2]) # 150
```
Both give same ouput i.e, 140

Another example:
- `car_data[1]` gives `["Honda", "Civic", 140]`
- `car_data[1][2]` gives `140` (horsepower of the Honda Civic)


**Code Example:**
Here's a code example that demonstrates accessing elements from both a regular list and a multi-dimensional list:

In [ ]:
# Run this cell

# Accessing elements from a multi-dimensional list
car_data = [
    ["Toyota", "Corolla", 150],
    ["Honda", "Civic", 140],
    ["Ford", "Focus", 130]
]
print(car_data[0])           # Output: ['Toyota', 'Corolla', 150]
print(car_data[1][2])        # Output: 140

# Accessing elements using two indices
print(car_data[2][0])        # Output: Ford

### Exercise 3: Accessing elements

**Objective:** Practice accessing elements from a multi-dimensional list.

**Instructions:**

In this exercise, you will work with multi-dimensional to access data.

**Task 1: Calculating Average Salary**

Given the following data for three employees:
```
data = [ ["John", 3000], ["Alice", 4500], ["Bob", 2500] ]
```
Calculate the average salary by accessing the salary elements and then computing the average.

Steps:

1. Initialize a variable `total_salary` to store the sum of salaries.
2. Access the salary of each employee using indexing `((data[index][index] + data[index][index] +  ... ) and add it to `total_salary`.
4. Divide `total_salary` by the number of entries in data to get the average salary and save it in variable `average`.
5. Print the calculated average salary.

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2:**

Given the following pattern list:

```python
pattern = ['*', '****', '**', '*****', '***']
```

Follow these steps to print the patterns:

1. Access the pattern elements from the list using indexing (`pattern[index]`) and print them.

**Your Task:**
Print the patterns in the such and order to get result like this:
```
*
**
***
****
*****
```

also this

```
*****
****
***
**
*
```

**Example Code:**
```python
# Given pattern list
pattern = ['*', '****', '**', '*****', '***']

print(pattern[])
print(pattern[])
print(pattern[])
print(pattern[])
```

In [ ]:
# Do Task 2 in this cell
#
#
#

In [ ]:
# Do Task 2 in this cell
#
#
#