# Applied Data Lab

# Assignment 04 Part 3:

## Setting Up the Address
In this cell, a path variable is set with the value of the current directory where the notebook is open. This is done to easily upload the dataset file from this location.

In [ ]:
# Run this cell
import os
PATH = os.getcwd() + '/'
PATH

**ONLY FOR GOOGLE COLAB USERS**

For those who are using **Google Colab**, uncomment and run the cell below.

**Note**: You have to repalce value of variable `YOUR_PATH_TO_DATASET_DIRECTORY` with the path where your dataset is placed in the Google Drive folder.

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')
# YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab_/phase_1"
# PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
# PATH

## Working on Student Dataset

Importing the dataset is already done for you; just run the cell below.

In [ ]:
# Run this cell
import csv
data = list ( csv.reader ( open(PATH + 'student_data.csv', 'r', encoding='utf-8') ) )
display (data)

### Exercise 1:

**Task 1:**
Slice the data from index 1 to the end and save it in a variable called `only_records` so that header is removed and only the records are left. Then, print `only_records`.

Hint: `only_records = data[1:]`

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2:**

These are the headings: `['roll no', 'Name', 'Chemistry', 'Physics', 'Math']`. You need to create an empty array and append chemistry marks to it by iterating over `only_records`. Access the chemistry marks by using the index corresponding to 'Chemistry' in the headings.

Hint: Here is an example of iterating over records:
```python
for record in only_records:
    print(record)
```

And here is an example of iterating over a record's name only:
```python
for record in only_records:
    print(record[1])
```

In a similar manner, you need to use the index corresponding to 'Chemistry' in the headings to iterate over the chemistry marks and append them to an empty list. This list should be initialized before the loop, like this:
```python
chemistry_marks = []
for record in only_records:
    .
    .
    .
```

**Note:** You must convert the string numbers to integers or floats when appending them to `chemistry_marks` using type casting:

```python
chemistry_marks.append(float(record[i]))
```

Kindly run above examples too to see the output of each example

In [ ]:
# Do Task 2 in this cell
#
#
#

**Task 3:**

Now, calculate the average of the chemistry marks. Use the `sum()` function to calculate the sum of the chemistry marks and divide it by the length of the `chemistry_marks` list using the `len()` function. Save the result in the `average` variable and print it.

In [ ]:
# Do Task 3 in this cell
#
#
#

**Task 4: Retrieve the Record with the Highest Physics Marks**

Instructions:

1. Create an empty list and save it in a variable named `physics_marks`.

2. Iterate over `only_records` using a for loop. Retrieve the physics marks, convert each number to a float data type, and append these float numbers to the `physics_marks` list using the `append()` method.

3. Use the `max()` function to find the maximum marks in the `physics_marks` list and store it in a variable called `max_marks`.

4. Use the `index()` method to find the index of the maximum marks in the `physics_marks` list and save it in a variable named `max_marks_index`.

5. Use the `max_marks_index` to retrieve the corresponding record from `only_records`.

6. Print the record obtained from step 5.

In [ ]:
# Do Task 4 in this cell
#
# Step 1: Create an empty list for physics marks


# Step 2: For loop over only_records, Convert type and append phy marks to the list


# Step 3: Find the maximum marks


# Step 4: Find the index of the maximum marks
#max_marks_index = physics_marks.index(max_marks)

# Step 5: Assuming you have a list of records called only_records


# Step 6: Print the record with the maximum marks

**Task 5: Retrieve the Record with the Lowest Math Marks**

Instructions:

1. Create an empty list and save it in a variable named `math_marks`.

2. Iterate over `only_records` using a for loop. Retrieve the math marks, convert each number to a float data type, and append these float numbers to the `math_marks` list using the `append()` method.

3. Use the `min()` function to find the minimum marks in the `math_marks` list and store it in a variable called `min_marks`.

4. Use the `index()` method to find the index of the minimum marks in the `math_marks` list and save it in a variable named `min_marks_index`.

5. Use the `min_marks_index` to retrieve the corresponding record from `only_records`.

6. Print the record obtained from step 5.

In [ ]:
# Do Task 5 in this cell
#
#
#

### Converting data type of fields
- roll no -> int
- chemistery, physics and maths to -> float

In [ ]:
# Run this cell
for i in range(1,len(data)):
  data[i][0] = int(data[i][0])
  data[i][2] = float(data[i][2])
  data[i][3] = float(data[i][3])
  data[i][4] = float(data[i][4])
data

### Exercise 2:

**Task 1: Calculate Total Marks for Each Student and Add a New Column**

Instructions:

1. Append the string "Total" to the first index of the first element in the list (i.e., `data[0]`).

2. Create a `for` loop that iterates over the data list, starting from index 1 (i.e., `range(1, len(data))`).

3. Inside the loop, use the `append()` method to add the total marks for each student as a new element at the end of each student's record in `data`. You can calculate the total marks by summing the marks in the Chemistry, Physics, and Math columns (i.e., `data[i].append(data[i][2] + data[i][3] + data[i][4])`).

Here's how the updated data should look like:
```python
[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total'],
 [101, 'Aliza', 50.0, 23.0, 87.0, 160.0],
.
.
 [120, 'Danial', 63.0, 77.0, 82.0, 222.0]]
```

In [ ]:
# Do Task 1 in this cell
#
#
#

**Task 2: Calculate Percentage of Total Marks for Each Student and Add a New Column**

Instructions:

1. Append the string "Percentage" to the first index of the first element in the list (i.e., `data[0]`).

2. Create a `for` loop that iterates over the data list, starting from index 1 (i.e., `range(1, len(data))`).

3. Inside the loop, use the `append()` method to divide the total marks by `300` for each student as a new element at the end of each student's record in `data` (i.e., `data[i].append(data[i][5] / 300)` ).

Here's how the updated data should look like:
```python
[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total', 'Percentage'],
 [101, 'Aliza', 50.0, 23.0, 87.0, 160.0, 0.5333...],
.
.
.
 [119, 'Justin', 62.0, 76.0, 81.0, 219.0, 0.73],
 [120, 'Danial', 63.0, 77.0, 82.0, 222.0, 0.74]]
```

In [ ]:
# Do Task 2 in this cell
#
#
#