# Applied Data Lab

# Assignment 05 Part 1: Dictionary (Data Structure) / HashMap

A dictionary in Python is akin to a real-life dictionary book. In this data structure, each word serves as a 'key,' and its meaning or definition corresponds to the 'value' of that key. Unlike lists or arrays that rely on numerical indices, dictionaries use keys for efficient data retrieval.

### Why Use Dictionaries?

1. **Meaningful Addressing:** Dictionaries excel at providing meaningful and easy-to-remember addresses for data. Instead of remembering numerical indices, you can use words or labels to access information. For example, storing a person's bio data under their name as a key makes it more intuitive to access.

2. **Speedy Retrieval:** Dictionaries offer rapid data retrieval. When you know the key, accessing the associated value takes a single operation. This efficiency resembles how you might find a word in a physical dictionary by turning to a specific page based on the word's first letter.

### Key Features of Dictionaries:

- **Key Variety:** In dictionaries, keys can be of various data types, such as strings, integers, or floats, providing flexibility in addressing data.

- **Value Versatility:** Similarly, values in dictionaries can hold diverse data types, including integers, floats, strings, lists, or even nested dictionaries.

- **Key-Value Pairing:** Dictionary entries consist of comma-separated key-value pairs, making it easy to organize and structure data.

- **Key-Based Access:** The core principle of dictionaries is key-based access. You retrieve values by specifying the key associated with the data you want.

- **Creating Dictionaries:** The default way to create a dictionary is by using curly braces. For instance:
  ```python
  employee = {"Name": "Danial", "Age": 24, "Salary": 50000.0}
  ```

In summary, a dictionary is a highly versatile data structure that employs key-value pairs for organized and efficient data storage and retrieval. It's a powerful tool for tasks where meaningful addressing and quick data access are essential.

### Exercise 1: Creating Dictionary

**Example 1:**

| Keys         | Key Data Type | Values          | Value Data Type |
|--------------|---------------|-----------------|-----------------|
| Book         | String        | Vampire         | String          |
| price        | String        | 100.5           | Float           |
| 0            | Integer       | light           | String          |
| 1            | Integer       | ['bulky', 30.4] | List            |
| 3            | Integer       | just-right      | String          |

```python
a = { "Book": "Vampire", "price": 100.5, 0: 'light', 1: ['bulky', 30.4], 3: 'just-right'}
```

In [ ]:
# Run this cell
a = {"Book":"Vampire", "price":100.5, 0:'light', 1:['bulky', 30.4], 3:'just-right'}
print(a)

**Task: Create a Dictionary**

**Objective:** Create a Python dictionary that matches the provided table and print the dictionary.

| Keys         | Key Data Type | Values           | Value Data Type |
|--------------|---------------|------------------|-----------------|
| manufacturer | String        | Samsung          | String          |
| model        | String        | a6               | String          |
| camera       | String        | 13               | Integer         |
| 50           | Integer       | True             | Boolean         |
| weight       | String        | 2.25             | Float           |
| popularity   | String        | [23, 68, 46, 89] | List            |

Task: Create a Python dictionary called `my_dictionary` that matches the provided table and print the `my_dictionary`.

In [ ]:
# Do Task: Create a Dictionary in this cell
#
#
#

### Exercise 2: Accessing Elements in a Dictionary

Accessing elements in a dictionary is similar to how you access elements in a list or array, but instead of using indexes, you use keys enclosed in square brackets (`[]`) to retrieve their associated values.

**Example 2:**

```python
# Create a dictionary
my_dictionary = {"Name": "John", 30:"abc", "Country": "USA"}

# Accessing elements using keys
name = my_dictionary["Name"]
x = my_dictionary[30]
country = my_dictionary["Country"]

# Print the values
print("Name:", name, ", x:", x, ", Country:", country)
```

In this example, we create a dictionary called `my_dictionary`, and then we access its elements using the respective keys (`"Name"`, `30`, and `"Country"`) and store them in variables for printing.

When you run this code, it will display:

```
Name: John , x: abc , Country: USA
```

**Note:** Remember that if you try to access a key that does not exist in the dictionary, it will result in an error.

In [ ]:
# Run this cell
my_dictionary = {
    "Name"    : "John",
    30        :"abc",
    "Country" : "USA"
    }

name = my_dictionary["Name"]
x = my_dictionary[30]
country = my_dictionary["Country"]

print("Name:", name, ", x:", x, ", Country:", country)

**Task: Access Elements in a Dictionary**

**Objective:** Access every element of this dictionary, save them in variables, and print their values.

```python
point = {
  'x':30,
  'y':32,
  'z':3,
  50:502132,
  4.2: {60:20, "abc":"xyz"},
  "hello":"world"
  }
```

In [ ]:
# Do Task: Access Elements in a Dictionary in this cell
#
#
#

### Exercise 3: Adding New Key-Value Pairs to a Dictionary

You can add new key-value pairs to a dictionary easily by the use of square bracket notation `[]` or the `update()` method. Here are some basic examples:

**Example 3: Using Square Bracket Notation**
```python
# Create a dictionary
student = {'name': 'Alice', 'age': 20}

# Add a new key-value pair using square brackets
student['grade'] = 'A'

# Print the updated dictionary
print(student)
```

**Example 4: Using the `update()` Method**
```python
# Create a dictionary
student = {'name': 'Bob', 'age': 22}

# Add a new key-value pair using the update() method
student.update({'major': 'Physics'})

# Print the updated dictionary
print(student)
```

In [ ]:
# Run this cell
student = {'name': 'Alice', 'age': 20}
student['grade'] = 'A'
print(student)

In [ ]:
# Run this cell
student = {'name': 'Bob', 'age': 22}
student.update({'major': 'Physics'})
print(student)

**Task: Adding Key-Value Pairs to a Dictionary**

**Objective:** Add new key-value pairs to the `student` dictionary and then print the updated dictionary.

1. Create a dictionary called `student` with the following initial key-value pairs:
   - 'name': 'John'
   - 'age': 21

2. Add a new key-value pair to the `student` dictionary using the square bracket notation:
   - 'major': 'Computer Science'

3. Print the updated `student` dictionary.

In [ ]:
# Do Task: Adding Key-Value Pairs to a Dictionary in this cell
#
#
#

### Exercise 4: Deleting Key-Value Pairs from a Dictionary

In Python, you can remove key-value pairs from a dictionary using the `del` statement. Here's an example:

**Example 5:**
```python
# Create a dictionary
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}

# Delete the 'grade' key-value pair
del student['grade']

# Print the updated dictionary
print(student)
```

In [ ]:
# Run this cell
student = {'name': 'Alice', 'age': 20, 'grade': 'A'}
del student['grade']
print(student)

**Task: Deleting Key-Value Pairs from a Dictionary**

**Objective:** Remove a specific key-value pair from the `student` dictionary and print the updated dictionary.

1. Create a dictionary called `student` with the following initial key-value pairs:
   - 'name': 'Sarah'
   - 'age': 19
   - 'major': 'History'

2. Delete the 'major' key-value pair from the `student` dictionary using the `del` statement.

3. Print the updated `student` dictionary.

In [ ]:
# Do Task: Adding Key-Value Pairs to a Dictionary in this cell
#
#
#

### Exercise 5: Updating a Value in a Dictionary

In Python, you can update the value associated with a specific key in a dictionary by assigning a new value to that key. Here's an example:

**Example 6:**
```python
# Create a dictionary
employee = {'Name': 'Alice', 'Age': 25, 'Salary': 50000.0}
```
THEN
```python
# Update the 'Age' key's value by incrementing it by 1
employee['Age'] += 1
```
OR
```python
# Update the 'Age' key's value by incrementing it by 1
employee['Age'] = employee['Age'] + 1
```
THEN
```python
# Print the updated dictionary
print(employee)
```

In [ ]:
# Run this cell
employee = {'Name': 'Alice', 'Age': 25, 'Salary': 50000.0}
employee['Age'] = employee['Age'] + 1
print(employee)

**Task: Updating a Value in a Dictionary**

**Objective:** Update the value associated with the 'Salary' key in the `employee` dictionary and print the updated dictionary.

1. Create a dictionary called `employee` with the following initial key-value pairs:
   - 'Name': 'John'
   - 'Age': 30
   - 'Salary': 60000.0

2. Update the 'Salary' key's value by increasing it by 1000.

3. Print the updated `employee` dictionary.

In [ ]:
# Do Task: Updating a Value in a Dictionary in this cell
#
#
#

### Exercise 6: Checking If a Key Exists in a Dictionary

In Python, you can check if a specific key exists in a dictionary using the `in` operator. It retruns `True` when the key exists in dictionary otherwise it returns `False`. Here's an example:

**Example 7:**
```python
# Create a dictionary
employee = {'Name': 'Alice', 'Age': 25, 'Salary': 50000.0}
print('Height' in employee)
```
**OUTPUT:**
```
False
```

**Example 8:**
```python
# Check if the 'Age' key exists in the dictionary
if 'Age' in employee:
    print("The 'Age' key exists in the dictionary.")
else:
    print("The 'Age' key does not exist in the dictionary.")
```

In [ ]:
# Run this cell
employee = {'Name': 'Alice', 'Age': 25, 'Salary': 50000.0}

if 'Age' in employee:
    print("The 'Age' key exists in the dictionary.")
else:
    print("The 'Age' key does not exist in the dictionary.")

print('Height' in employee)

if 'Height' in employee:
    print("The 'Age' key exists in the dictionary.")
else:
    print("The 'Age' key does not exist in the dictionary.")

**Task: Checking If a Key Exists in a Dictionary**

**Objective:** Check if the 'City' key exists in the `employee` dictionary and print an appropriate message based on whether the key exists or not.

1. Create a dictionary called `employee` with the following initial key-value pairs:
   - 'Name': 'John'
   - 'Age': 30
   - 'Salary': 60000.0

2. Use the `in` operator to check if the 'City' key exists in the `employee` dictionary.

3. Print a message indicating whether the 'City' key exists in the dictionary or not.

In [ ]:
# Do Task: Checking If a Key Exists in a Dictionary in this cell
#
#
#

### Exercise 7: Grocery Shopping

**Scenario: Grocery Shopping**

You are heading to the local fruit market for some grocery shopping. You have a list of items you need to buy, including

- oranges
- mangoes
- bananas

The market is bustling with activity, and you see various fruits and other items displayed at different stalls.

Before you start shopping, you decide to create a shopping list (`buy_list`) to keep track of the items you need to purchase. You plan to iterate through the items available at the stalls and check if they are on your shopping list. If they are, you will increment their quantity in the shopping list.

Here's the list of items available at the market (`shop_items`):

```python
shop_items = [
    'mango', 'apple', 'banana', 'orange', 'kiwi', 'mango', 'pear',
    'orange', 'apple', 'grape', 'banana', 'mango', 'kiwi', 'orange',
    'strawberry', 'blueberry', 'banana', 'mango', 'kiwi', 'orange'
]
```

**Instructions:**

1. Create a `dictionary` and name it `buy_list`. Initialize the keys with 'mango,' 'orange,' and 'banana,' with their initial values set to 0 (integer).

**Hint:** `.... = {'mango':0, ....}`

2. Use a `for` loop to iterate through the items available at the market (`shop_items`).

3. Inside the loop, check `if` each item is `in` your `buy_list`. If it is, increment the quantity of that item in the `buy_list` by 1.

4. After the loop is complete, print the `buy_list` to see the quantities of 'mango,' 'orange,' and 'banana' you need to purchase.

Imagine you are going through the market, stall by stall, and updating your shopping list as you go along. Happy shopping!

**Note:** If you capitalize any letters in the string, please be aware that it will not be considered a match. For example, 'mango' and 'Mango' would be treated as distinct items. To ensure proper matching, use lowercase letters consistently, or convert the string to lowercase using the `str.lower()` method before making comparisons.

In [ ]:
# Do Exercise: Grocery Shopping in this cell
#
#
#

### Exercise 8: Vegetable Shop

**Scenario: Calculating the Frequency of Stall Items at a Vegetable Shop**

Imagine you own a bustling vegetable shop, where you sell a variety of fresh produce. To better manage your inventory and understand your customers' preferences, you want to create a frequency table using Python's dictionaries.


**Task 1:** Calculate the Frequency of Items

**Instructions:**

1. Start with an empty dictionary called `stall_item_frequency`. This dictionary will help you track the frequency of items available at your vegetable stall.

**Hint:** `stall_item_frequency = {}`

2. Assume you have a list of items available at your stall, which we'll call `stall_items`. These items include various vegetables, and some might be more popular than others.

**Hint:** `stall_items = ['carrots', 'tomatoes', 'potatoes', 'spinach', 'cucumbers', 'onions', 'lettuce', 'bell peppers', 'zucchinis', 'broccoli']`

3. Use a `for` loop to iterate through `stall_items`.

4. Inside the loop, check if the vegetable is already a key in the `stall_item_frequency` dictionary. If it is, increment the count by 1; otherwise, create a new key with a value of 1 for that vegetable.

**Hint:**
```python
if vegetable in stall_item_frequency:
    stall_item_frequency[vegetable] += 1
else:
    stall_item_frequency[vegetable] = 1
```

5. Once the loop is completed, you will have a frequency table in the `stall_item_frequency` dictionary, showing how many of each vegetable you have at your stall.

6. Print the `stall_item_frequency` dictionary to see the frequency of vegetables available at your vegetable shop.

By following these instructions, you can efficiently manage your vegetable inventory, restock popular items, and provide better service to your customers.

```python
stall_items = [
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'zucchinis',
    'onions',     'lettuce',      'zucchinis',    'broccoli',   'carrots',
    'tomatoes',   'potatoes',     'spinach',      'lettuce',    'zucchinis',
    'zucchinis',  'bell peppers', 'zucchinis',    'broccoli',
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'cucumbers',
    'onions',     'lettuce',      'bell peppers', 'zucchinis',  'cucumbers',
    'carrots',    'potatoes',     'spinach',      'cucumbers',  'lettuce',
    'onions',     'lettuce',      'bell peppers', 'zucchinis',  'broccoli',
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'broccoli',
    'onions',     'lettuce',      'bell peppers',  'zucchinis', 'broccoli',
]
```

In [ ]:
# Do Task 1 in this cell
#
#
#
stall_items = [
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'zucchinis',
    'onions',     'lettuce',      'zucchinis',    'broccoli',   'carrots',
    'tomatoes',   'potatoes',     'spinach',      'lettuce',    'zucchinis',
    'zucchinis',  'bell peppers', 'zucchinis',    'broccoli',
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'cucumbers',
    'onions',     'lettuce',      'bell peppers', 'zucchinis',  'cucumbers',
    'carrots',    'potatoes',     'spinach',      'cucumbers',  'lettuce',
    'onions',     'lettuce',      'bell peppers', 'zucchinis',  'broccoli',
    'carrots',    'tomatoes',     'potatoes',     'spinach',    'broccoli',
    'onions',     'lettuce',      'bell peppers',  'zucchinis', 'broccoli',
]

**Task 2:** Calculate the Frequency of Items Excluding Potatoes

In this task, you'll calculate the frequency of all items available at your vegetable stall, excluding potatoes. To do this, you have a few options:

1. **Option 1 - Additional Conditional Check: (Preferred)** You can include an additional conditional check of not including potatoes within your frequency algorithm. This check ensures that you skip counting potatoes while calculating the frequencies of other items.

2. **Option 2 - List Manipulation:** Create an empty list and fill it with values from the `stall_items` list with the condition of not including potatoes. Afterward, you can apply the same frequency calculation code to the modified list.

In [ ]:
# Do Task 2 in this cell
#
#
#

## Setting Up the Address
In this cell, a path variable is set with the value of the current directory where the notebook is open. This is done to easily upload the dataset file from this location.

In [ ]:
# Run this cell
import os
PATH = os.getcwd() + '/'
PATH

**ONLY FOR GOOGLE COLAB USERS**

For those who are using **Google Colab**, uncomment and run the cell below.

**Note**: You have to repalce value of variable `YOUR_PATH_TO_DATASET_DIRECTORY` with the path where your dataset is placed in the Google Drive folder.

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive/')
# YOUR_PATH_TO_DATASET_DIRECTORY = "work/Applied_Data_Lab/phase_1"
# PATH = "/content/drive/MyDrive/"+YOUR_PATH_TO_DATASET_DIRECTORY+"/"
# PATH

## Working on Apple Store Modified

Importing the dataset is already done for you;

just run the cell below.

In [ ]:
# Run this cell
import csv
data = list ( csv.reader ( open(PATH + 'AppleStoreModified.csv', 'r', encoding='utf-8') ) )
display (data[0:10])

### Exercise 9: Type Conversion

**Objective:** Convert the data types of the 'Sno' column to integers and the 'price' column to floats.

**Instructions:**

1. Start by ensuring you have the data stored in a variable called `data`. You can use the provided data snippet.

2. Create a `for` loop that iterates over the data, starting from the second row (index 1) to the end of the data (use `range(1, len(data))`).

3. Inside the loop, convert the 'Sno' column (index 0 in each row) to an integer using the `int()` function. Update the original value in the data.

4. Similarly, convert the 'price' column (index 3 in each row) to a float using the `float()` function. Update the original value in the data.

5. After the loop is complete, the 'Sno' column should contain integer values, and the 'price' column should contain float values.

6. You can print the modified data to verify the changes.

**Hint:** Remember that indexing in Python starts from 0, so 'Sno' is at index 0, and 'price' is at index 3 in each row.

This exercise will ensure that the 'Sno' column contains integers and the 'price' column contains floats, making the data suitable for further calculations or analysis.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 10: Currency Conversion

**Objective:** Convert the currency from USD to PKR and update the prices by multiplying them by the current USD to PKR exchange rate.

**Instructions:**

1. Ensure you have the dataset stored in a variable called `data`. You can use the provided data snippet.

2. Create a `for` loop that iterates over the data, starting from the second row (index 1) to the end of the data (use `range(1, len(data))`).

3. Inside the loop, update the 'currency' column (index 2 in each row) to 'PKR'.

4. Similarly, update the 'price' column (index 3 in each row) by multiplying it by the current USD to PKR exchange rate. You can use the value 306 as the exchange rate.

5. After the loop is complete, the 'currency' column should contain 'PKR', and the 'price' column should be converted to PKR.

6. You can print the modified data to verify the changes.

This exercise will convert the currency from USD to PKR and update the prices accordingly, making the dataset consistent with the new currency.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 11: Getting Price List

**Objective:** Extract the prices from the dataset and store them in a list for further calculations.

**Instructions:**

1. Ensure you have the dataset stored in a variable called `data`. You can use the provided data snippet.

2. Create an empty list called `price` to store the prices.

3. Create a `for` loop that iterates over the data, starting from the second row (index 1) to the end of the data (use `range(1, len(data))`).

4. Inside the loop, append the value in the 'price' column (index 3 in each row) to the `price` list.

5. After the loop is complete, the `price` list should contain all the prices from the dataset.

6. You can print the `price` list to verify that it contains the prices.

This exercise will help you create a list of prices that can be used for further calculations, such as currency conversion.

In [ ]:
# Do Exercise in this cell
#
#
#

### Interquartile Range (IQR) Calculation

The Interquartile Range (IQR) is a statistical measure used to understand the spread or dispersion of a dataset. It provides insights into the variability of the data, focusing on the middle 50% of the values. To calculate the IQR, follow these steps:

1. **Sort the Data:** Begin by arranging the dataset in ascending order. Sorting the data allows for a clear identification of the quartiles.

2. **Identify the Median (Q2):** Locate the middle value of the dataset, which is known as the median or Q2. It divides the data into two halves, with half the values below and half above this point.

3. **Calculate the First Quartile (Q1):** The first quartile, denoted as Q1, represents the 25th percentile of the data. It is the median of the lower half of the dataset, ranging from the minimum value to Q2.

4. **Calculate the Third Quartile (Q3):** The third quartile, denoted as Q3, represents the 75th percentile of the data. It is the median of the upper half of the dataset, ranging from Q2 to the maximum value.

![image_2023-09-11_220405864.png]()

Now we have these ranges
- min-Q1
- Q1-Q2
- Q2-Q3
- Q3-max

### Exercise 12: Finding the Minimum and Maximum Prices

**Objective:** Calculate and store the minimum and maximum values from the 'price' column.

**Instructions:**

1. Create two variables, `max_price` and `min_price`, to store the maximum and minimum values, respectively.

2. Use the `max()` function to find the maximum value in the 'price' list and assign it to the `max_price` variable.

3. Use the `min()` function to find the minimum value in the 'price' list and assign it to the `min_price` variable.

4. Finally, print out the maximum and minimum prices.

This exercise will help you identify the price range of the products in the dataset.

In [ ]:
# Do Exercise in this cell
#
#
#

we have observerd this ranges max:76496.94, Min: 0.0
now well be working in this range



### Exercise 13: Calculating the Middle Price (Q2)

**Objective:** Calculate the middle price (Q2) from the sorted 'price' list.

**Instructions:**

1. Sort the 'price' list in ascending order using the `sort()` function.

2. Determine the index of the middle value. To do this, find the length of the 'price' list and divide it by 2. Assign this value to the variable `Q2_index`.

  **Hint:** `len(price)//2`

3. Retrieve the middle price (Q2) from the 'price' list using the `Q2_index`. Store it in the variable `Q2`.

This exercise will help you find the middle price (Q2) in the dataset, which is essential for calculating the interquartile range.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 14: Calculating Quartiles (Q1 and Q3)

**Objective:** Calculate the first quartile (Q1) and the third quartile (Q3) from the 'price' list.

**Instructions:**

1. Create two new lists, `lower_price_list` and `upper_price_list`, to divide the 'price' list into two parts.

2. Slice the 'price' list from the beginning to the `Q2_index` (exclusive) and assign it to `lower_price_list`.

3. Slice the 'price' list from the `Q2_index` to the end (inclusive) and assign it to `upper_price_list`.

  **Hint:** `... = price[0:Q2_index]` and `... = price[Q2_index:-1]`

4. Calculate the index of the first quartile (Q1) by finding the length of `lower_price_list` and dividing it by 2. Assign this value to `Q1_index`.

  **Hint:** `len(lower_price_list)//2`

5. Calculate the index of the third quartile (Q3) by finding the length of `upper_price_list` and dividing it by 2. Assign this value to `Q3_index`.

6. Retrieve the values of Q1 and Q3 from their respective lists using the calculated indices and store them in variables `Q1` and `Q3`, respectively.

  **Hint:** `Q1 = lower_price_list[Q1_index]`

7. Print the minimum price `min_price`, `Q1`, `Q2`,` Q3`, and maximum price `max_price` to display the five-number summary.


This exercise calculates the first quartile (Q1) and third quartile (Q3) values, which are key components of the interquartile range.

In [ ]:
# Do Exercise in this cell
#
#
#

## Exercise 15: Creating Price Labels

**Objective:** Assign price labels to the apps based on their prices.

**Instructions:**

1. Add a new column header, "price_label," to the first row of the `data` list.

2. Use a `for` loop to iterate through the rows in the `data` list starting from the second row (index 1).

3. Inside the loop, check the value in the fourth column (index 3), which represents the price of each app.

4. If the price is greater than the third quartile (`Q3`), assign the label "expensive" to the app and append it as a new column value.

5. If the price is greater than the second quartile (`Q2`), assign the label "moderate" to the app and append it as a new column value.

6. If the price is greater than the first quartile (`Q1`), assign the label "cheap" to the app and append it as a new column value.

7. If none of the above conditions are met, assign the label "free" to the app and append it as a new column value.

This exercise adds a "price_label" column to the dataset, categorizing each app's price as "expensive," "moderate," "cheap," or "free" based on quartile values.

In [ ]:
# Do Exercise in this cell
#
#
#

### Exercise 16: Calculating the Frequency of Price Labels

**Objective:** Calculate the frequency of each price label in the dataset using a dictionary.

**Instructions:**

1. Create an empty dictionary called `freq` to store the frequency of price labels.

2. Use a `for` loop to iterate through the rows in the `data` list starting from the second row (index 1).

3. Inside the loop, access the value in the "price_label" column, which is at index 4 of each row.

4. Check if the price label is already a key in the `freq` dictionary.

5. If the price label is already a key, increment its corresponding value (frequency) by 1.

6. If the price label is not a key in the `freq` dictionary, add it as a new key with a value of 1.

    ```python
    freq = {}
    for i in range(1,len(data)):
        if data[i][4] in freq:
            ...
            ...
            ...
    ```
By the end of this exercise, the `freq` dictionary should contain the frequency of each price label in the dataset.

Note: The ellipses (...) represent the code that should be added inside the loop to update the `freq` dictionary.

In [ ]:
# Do Exercise in this cell
#
#
#